@model IEnumerable<DigitalBite.Models.Menu>

@{
    ViewData["Title"] = "Views";
}

<h1>View Menu</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
            <td>
                
                <a asp-action="Order" asp-route-id="@item.ID">Order now</a> |
                
            </td>
            
        </tr>
}
    </tbody>
</table>
